.headerTitle {
    background-image: 
    linear-gradient(to right, red,white, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 400vh;
    }
}